{{ $item := .item }}


{{/* Dynamic view adjusts to content type. */}}
{{ $show_buttons := false }}
{{ if eq $item.Type "courses" }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

<div class="card-simple view-card">

  {{ if eq $item.Type "courses" }}
  <div class="article-metadata">
    <span>
      {{ partial "functions/get_course_dates" $item }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span>{{ . }}</span>
    {{ end }}
  </div>
  {{ end }}

  {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
  {{ $anchor := $item.Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
  {{ $image := .Fill (printf "918x517 q90 %s" $anchor) }}
  <a href="{{ $item.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" class="article-banner" alt="">
  </a>
  {{end}}


  <details id="{{ $item.Title | anchorize }}">
    <summary>{{ $item.Title }}</summary>
    <div class="row">
      <div class="col-lg-6">
        <div id="instructors">
          <h3><i class="fas fa-graduation-cap"></i> {{ i18n "instructors" }}</h3>
          <ul class="ul-edu fa-ul">
            {{ range $index, $instructor := $item.Params.instructors }}
            <li>
              <i class="fa-li fas fa-user-alt"></i>
              <div class="description">
                <p class="instructor">{{ $instructor.name }}
                {{ if $instructor.email }}
                : <a href='mailto:{{ $instructor.email }}?subject=PIMS Course registration enquiry : {{ $item.Title }}'>{{ $instructor.email }} <i class="fa fa-envelope" aria-hidden="true"></i></a>
                {{ end }}
                <p class="institution">{{ $instructor.institution }}</p>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
        <div id="prerequisites">
          <h3><i class="fas fa-list"></i> {{ i18n "prerequisites" }}</h3>
          <ul class="ul-edu fa-ul">
            {{ range $index, $prereq := $item.Params.prerequisites }}
            <li>
              <i class="fa-li fas fa-check"></i>
              <div class="description">
                <p class="prerequisite">{{ $prereq | markdownify | emojify }}</p>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <h3><i class="fas fa-sign-in-alt"></i> Registration</h3>
          <div class="article-style">
            {{ if $item.Params.registration_open }}
            <p>This course is available for registration under the Western
            Dean's Agreement but registrations must be approved by the course instructor. Please contact the instructor (using the email link to the left) including details of how you meet the course prerequisites. Next, you must complete the <a target="_blank"
            href="https://www.wcdgs.ca/_files/ugd/b23610_b61254c69f984b3389f41a6ebbddb94d.pdf">Western
          Deans' Agreement form  <i class="fas fa-file-pdf"
                                    aria-hidden="true"></i></a>, with the following course details:</p>
            
            <div class="row">
              <div class="col-lg-12">
                <dl class="row">
                  <dt class="col-sm-4">Course Name</dt>
                  <dd class="col-sm-8">{{ $item.Params.course_title }}</dd>
                  <dt class="col-sm-4">Course Number</dt>
                  <dd class="col-sm-8">{{ $item.Params.course_number | markdownify }}</dd>
                  <dt class="col-sm-4">Section Number</dt>
                  <dd class="col-sm-8">{{ $item.Params.section_number | markdownify }}</dd>
                  <dt class="col-sm-4">Section Code</dt>
                  <dd class="col-sm-8">{{ $item.Params.section_code | markdownify }}</dd>
                </dl>
              </div>
            </div>
            
            <p>Completed forms should be returned to your graduate advisor who
            will sign it and take the required steps.  For students at
            PIMS sites, please see <a href="/#wda">this list</a> to find your
            graduate advisor, for other sites, please see the <a
              target="_blank" href="https://www.wcdgs.ca/host-institution-specific-details">Western
                              Deans' Agreement website <i class="fas
                                fa-external-link-alt"></i></a>.</p> 
            <p>The Western Deans' Agreement provides an automatic tuition fee
            waiver for visiting students. Graduate students paying normal
            required tuition fees at their home institution will not pay
            tuition fees to the host institution. <b>However, students will typically be be
            required to pay other ancillary fees to the host institution, or
            explicitly request exemptions (e.g. Insurance or
            travel fees)</b>. Details vary by university, so please contact the
          graduate student advisor at your institution for help completing the
          form. Links to fee information and contact information for PIMS
          member universities is available below in the <a href="#wda">WDA
            section</a>.</p>
            <p>Students at universities not covered by the WDA but
            which are part of the <a target="_blank"
            href="https://cags.ca">Canadian Association for Graduate Studies
            (CAGS) <i class="fas fa-external-link-alt"></i></a> may still be
          eligible to register for some courses under the terms of the Canadian
          University Graduate Transfer Agreement (CUGTA).  Details of this
          program vary by university and registration is also typically subject to
          ancillary fees. Both your local and the hosting university
          must participate in the agreement (e.g. UBC does not participate in
          CAGS). Please contact the relevant graduate student advisors for more
          information.</p> {{ else }} <p>Registration for this course is not
          currently available.</p> {{ end }}
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>{{ i18n "abstract" }}</h2>
        {{ with $item.Params.abstract }}
        <div class="article-style">
          <p>{{ . | markdownify }}</p>
        </div>
        {{end}}
        {{ if $item.Params.syllabus_txt }}
          <h2>{{ i18n "syllabus" }}</h2>
          {{ with $item.Params.syllabus_txt }}
          <div class="article-style">
            <p>{{ . | markdownify }}</p>
          </div>
          {{ end }}
        {{ else if $item.Params.syllabus_pdf }}
          <h2>{{ i18n "syllabus" }}</h2>
          {{ with $item.Params.syllabus_pdf }}
          <div class="article_style">
            {{ $resource := $item.Resources.GetMatch "*.pdf" }}
            <a href="{{ path.Join $item.RelPermalink . | relURL }}" target="_blank" rel="noopener">{{ . }} <i class="fas fa-file-pdf"></i></a>
          </div>
          {{ end }}
        {{ end }}
        {{ if $item.Params.course_website }}
        <h2>{{ i18n "coursewebsite" }}</h2>
        <div class="article-style">
          {{ with $item.Params.course_website }}
          <p><a href="{{ . }}" target="_blank" rel="noopener">{{ . }} <i class="fas fa-external-link-alt"></i></a></p>
          {{ end }}
        {{ end }}
        <h2>{{ i18n "otherinfo" }}</h2>
        {{ with $item.Content }}
        <div class="article-style">
          <p>{{ . | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>

  </details>
  {{ if $show_buttons }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}
  {{ if $item.Params.instructors }}
  <div class="article-metadata-footer">
  <div>
    {{ range $index, $instructor := $item.Params.instructors }}
    {{- if gt $index 0 }}, {{ end -}}
    <span>{{ $instructor.name }} ({{ $instructor.institution }})</span>
    {{ end }}
  </div>
  </div>
  {{ end }}

</div>
