.resp-container {
    width: inherit;
    height: inherit;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

div#qualtrics-form-1 iframe {
    height: 1550px;
    border: 1px solid;
}

section#hero {

    div.hero-lead {
        font-size: 1.1rem;
        a {
          text-decoration: none;
          font-style: oblique;

        }
    }

    i.fas.fa-chalkboard-teacher { 
        display:inline-block;
        font-size: 1000%;
        color:#1978BE;
        text-align: center;
        padding-top: 0.2em;
        vertical-align: bottom;
    }
}

/*
a i.fas {
    font-style: oblique
}
*/

div.article-metadata-footer {
    margin-top: 15px;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.54);
}

body {
    color: rgb(82, 82, 82);
}

section#register p {
    font-style: oblique;
}

nav#navbar-main li.nav-item {
  font-size: 1.3em;
  font-weight: normal;

  a.nav-link.active {
      color:#1978BE;
      font-weight: normal !important;
  }
}

ul.nav-tabs {
    border-bottom: none;
    .nav-link {
        border: none;
        border-radius: 0;
        border-left: 1px solid rgba(52, 73, 94, 0.15);
    }
    a.nav-link.active {
        border-left: 1px solid rgba(52, 73, 94, 0.45);
        border-right: 1px solid rgba(52, 73, 94, 0.45);
        border-top: none;
        border-bottom: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

