<div class="wda-instruction">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-simple">
        <details id="{{ .Get "direction" }}">
          <summary>
            External students attending a {{ .Get "site" }} course
          </summary>
          <dl class="row">
            <dt class="col-sm-4">Contact</dt>
            <dd class="col-sm-8">{{ .Get "in-contact" | markdownify | emojify }}</dt>
            <dt class="col-sm-4">Deadline</dt>
            <dd class="col-sm-8">{{ .Get "in-deadline" | markdownify | emojify }}</dt>
            {{ if .Get "in-site-dir" }}
            <dt class="col-sm-4">Site Director</dt>
            <dd class="col-sm-8">{{ .Get "in-site-dir" | markdownify | emojify }}</dt>
            {{ end }}
            <dt class="col-sm-4">Site Admin</dt>
            <dd class="col-sm-8">{{ .Get "in-site-admin" | markdownify | emojify }}</dt>
          </dl>
          <p>{{ .Get "in-instructions"}}</p>
          <ul>
            {{ if .Get "in-notes-1"}}<li>{{ .Get "in-notes-1" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "in-notes-2"}}<li>{{ .Get "in-notes-2" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "in-notes-3"}}<li>{{ .Get "in-notes-3" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "in-notes-4"}}<li>{{ .Get "in-notes-4" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "in-notes-5"}}<li>{{ .Get "in-notes-5" | markdownify | emojify }}</li>{{ end }}
          </ul>
        </details>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-simple">
        <details id="{{ .Get "direction" }}">
          <summary>
            {{ .Get "site" }} students attending an external course
          </summary>
          <dl class="row">
            <dt class="col-sm-4">Contact</dt>
            <dd class="col-sm-8">{{ .Get "out-contact" | markdownify | emojify }}</dt>
            <dt class="col-sm-4">Deadline</dt>
            <dd class="col-sm-8">{{ .Get "out-deadline" | markdownify | emojify }}</dt>
            <dt class="col-sm-4">Site Director</dt>
            <dd class="col-sm-8">{{ .Get "out-site-dir" | markdownify | emojify }}</dt>
            <dt class="col-sm-4">Site Admin</dt>
            <dd class="col-sm-8">{{ .Get "out-site-admin" | markdownify | emojify  }}</dt>
          </dl>
          <p>{{ .Get "out-instructions"}}</p>
          <ul>
            {{ if .Get "out-notes-1"}}<li>{{ .Get "out-notes-1" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "out-notes-2"}}<li>{{ .Get "out-notes-2" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "out-notes-3"}}<li>{{ .Get "out-notes-3" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "out-notes-4"}}<li>{{ .Get "out-notes-4" | markdownify | emojify }}</li>{{ end }}
            {{ if .Get "out-notes-5"}}<li>{{ .Get "out-notes-5" | markdownify | emojify }}</li>{{ end }}
          </ul>
        </details>
      </div>
    </div>
  </div>
</div>
